# ЛР22 (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=student
DB_PASSWORD=yourpassword
DB_NAME=bbmo_01_23
DB_POOL_LIMIT=10

# ЛР23 (MongoDB)
MONGO_URI=mongodb://student:yourpassword@localhost:27017/bbmo_01_23?authSource=admin
MONGO_DB=bbmo_01_23